body {
  overflow:hidden;
}


.title {

  background-color: lightblue;

  text-align: center;
}

.sketchboard-container {


  height: 500px;
  width: 500px;



}
.sketchboard-cell {

  background-color: grey;
  border: 0px ;
  margin-bottom: -3px;
  padding: 0px !important;
  height :500px;
  width: 500px;
  display: inline-block;


}
.dial-buttons {
  height: 100px;
  margin-top: 5%;
  b

}

.left-right {
  float: left;

}
.up-down {
  float: right;
}
.left-right, .up-down {
  background-color: lightblue;
  height: 100px;
  width: 100px;
  border-radius: 50px 50px 50px 50px;
}

.dial-position {
  height: 20px;
  position: relative;
  left: 50px;
  background-color: blue;
  width: 2px;

}
.board-controls {
  height: 100px;
  margin-top: 5%;
  background-color: lightblue;
}

.resize, .mouse-options, .color-control {

  height: 100px;


  display: inline-block;
  padding: 5px;
  border: 1px solid blue;
}

  .resize, .mouse-options {
    width: 33%;

  }
  .color-control {
    width: auto;
  }


.bottom {
  position: absolute;
  bottom: 0px;
  height: 100px;
  border: 2px solid blue;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;


}


.board-controls, .title, .dial-buttons {
  margin-left:30%;
  margin-right:30%;
  width: auto;

}
